<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smart_door.consegna04.smartdoor">

    <uses-permission android:name = "android.permission.BLUETOOTH"/>
    <uses-permission android:name = "android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name = "android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconcina"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HelloActivity">
            <intent-filter>
                <action android:name=".HELLOACTIVITY" />
            </intent-filter>
        </activity>
        <activity android:name=".SessionActivity" />
    </application>

</manifest>